@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

:root {
  --header: #0d235a;
  --text: #f7fafe;
  --normal: #ce184c;
  --body: #fefeff;
  --textb: #282d26;
  --font-family: "Roboto Flex", sans-serif;
  --button: #ffba10;
}


body {
    padding: 0;
    margin: 0;
}

.nn {
    font-family: var(--font-family);
    font-size: 14px;
}

.text-mute {
    font-family: var(--font-family);
    padding-top: 40px;
    opacity: 60%;

}

.bb {
    width: 210px;
    height: 40px;
}