@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

:root {
  --header: #0d235a;
  --text: #f7fafe;
  --normal: #ce184c;
  --body: #fefeff;
  --textb: #282d26;
  --font-family: "Roboto Flex", sans-serif;
  --button: #ffba10;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

@media only screen and (max-width: 425px) {
  .ppp {
    height: 1000px;
  }

  .ttt {
    padding-top: 350px;
    height: 400px;
  }
}

@media only screen and (max-width: 570px) {
  .ppp {
    height: 1000px;
  }

  .ttt {
    padding-top: 350px;
    height: 400px;
  }
}

@media only screen and (max-width: 780px) {
  .ppp {
    height: 1000px;
  }

  .ttt {
    padding-top: 350px;
    height: 400px;
  }
}

@media only screen and (max-width: 880px) {
  .ppp {
    height: 1000px;
  }

  .ttt {
    padding-top: 350px;
    height: 400px;
  }
}

.pera {
  font-family: var(--font-family);
  font-weight: 500;
  padding-top: 20px;
}

.pp {
  padding-top: 2px;
  margin-bottom: 5px;
  font-family: var(--font-family);
  /* background-color: #ce184c; */
}

span {
  padding-left: 15px;
  text-align: justify;
}

.table,
.pt-4 {
  font-family: var(--font-family);
}
