@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

:root {
  --header: #0d235a;
  --text: #f7fafe;
  --normal: #ce184c;
  --body: #fefeff;
  --textb: #282d26;
  --font-family: "Roboto Flex", sans-serif;
  --button: #ffba10;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.card-2 {
  background-color: #0d235a !important;
  color: #f7fafe;
}

.card-1 {
  background-color: #7e8792b0 !important;
}

.btn-2 {
  background-color: #ffba10 !important;
  color: rgba(105, 124, 141, 0.925);
  font-weight: 500 !important;
}

.btn-1 {
  background-color: #f7fafe !important;
  color: rgba(105, 124, 141, 0.925);
  font-weight: 500 !important;
}