@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

:root {
  --header: #0d235a;
  --text: #f7fafe;
  --normal: #ce184c;
  --body: #fefeff;
  --textb: #282d26;
  --font-family: "Roboto Flex", sans-serif;
  --button: #ffba10;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefeff;
}

.navbartop li {
  display: inline-block;

}


.navbartop li {
  padding-left: 18px;
  font-size: 16px;
}

.navbartop li a {
  text-decoration: none;
  color: #f7fafe;
  font-family: var(--font-family);
  font-weight: 200;
}

.dd {
  margin-top: 5rem;
}

.btn {
  background-color: #f7fafe;
}

.card {
  position: relative;
}

.pp {
  position: absolute;
  top: 40px;
  height: 41px;
  width: 229px;
  background-color: var(--header);
  color: var(--text);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
}

span {
  padding-left: 10px;
  font-family: var(--font-family);
  font-size: 12px;
}

#button-details {
  font-family: var(--font-family);
  font-weight: bolder;
}


.raw {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  .fraw {
    display: grid;
    width: 236px;
    height: 234px;
    row-gap: 120px;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
  
  
  }
  
  .clone {
    width: 236px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b8b8c794;
  }
  
  .clone .img {
    width: 100px;
    height: 100px;
  }
  
  .text {
    font-family: var(--font-family);
    font-weight: bold;
    padding-top: 10px;
    color: var(--header);
  }
  
  .colamtwo {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr; */
    justify-items: center;
    align-items: center;
    padding: 50px;
  }
  
  .colamtwo h2 {
    font-size: 52px;
  }
  
  
  @media only screen and (max-width: 425px) {
    .raw {
      display: grid;
      grid-template-areas: "colam"
        "colamtwo";
      width: 10%;
      height: 100%;
    }
  
    .colam {
      grid-area: colam;
    }
  
    .colamtwo {
      grid-area: colamtwo;
    }
  
    .fone {
      display: grid;
      grid-template-areas:
        'cone'
        'ctwo';
      height: 600px;
      align-items: center
    }
  
    .cone {
      grid-area: cone;
    }
  
    .ctwo {
      grid-area: ctwo;
    }
  
    .ftwo {
      display: grid;
      grid-template-areas:
        'cthree'
        'cfour';
      height: 700px;
      align-items: center;
    }
  
    .cthree {
      grid-area: cthree;
    }
  
    .cfour {
      grid-area: cfour;
    }
  }
  
  @media only screen and (max-width: 570px) {
    .raw {
      display: grid;
      grid-template-areas: "colam"
        "colamtwo";
      width: 100%;
      height: 100%;
    }
  
    .colam {
      grid-area: colam;
    }
  
    .colamtwo {
      grid-area: colamtwo;
    }
  
    .fone {
      display: grid;
      grid-template-areas:
        'cone'
        'ctwo';
      height: 600px;
      align-items: center
    }
  
    .cone {
      grid-area: cone;
    }
  
    .ctwo {
      grid-area: ctwo;
    }
  
    .ftwo {
      display: grid;
      grid-template-areas:
        'cthree'
        'cfour';
      height: 700px;
      align-items: center;
    }
  
    .cthree {
      grid-area: cthree;
    }
  
    .cfour {
      grid-area: cfour;
    }
  }
  
  @media only screen and (max-width: 780px) {
    .raw {
      display: grid;
      grid-template-areas: "colam"
        "colamtwo";
      width: 100%;
      height: 100%;
    }
  
    .colam {
      grid-area: colam;
    }
  
    .colamtwo {
      grid-area: colamtwo;
    }
  
    .fone {
      display: grid;
      grid-template-areas:
        'cone'
        'ctwo';
      height: 600px;
      align-items: center
    }
  
    .cone {
      grid-area: cone;
    }
  
    .ctwo {
      grid-area: ctwo;
    }
  
    .ftwo {
      display: grid;
      grid-template-areas:
        'cthree'
        'cfour';
      height: 700px;
      align-items: center;
    }
  
    .cthree {
      grid-area: cthree;
    }
  
    .cfour {
      grid-area: cfour;
    }
  }
  
  @media only screen and (max-width: 880px) {
    #container {
      height: 2000px;
    }
  
  
    .raw {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      text-align: center;
      height: 100%;
    }
  
    .colam {
      grid-area: colam;
    }
  
    .colamtwo {
      grid-area: colamtwo;
      width: 324px;
      height: 100px;
  
    }
  
    .fone {
      display: grid;
      grid-template-areas:
        'cone'
        'ctwo';
      height: 600px;
      align-items: center
    }
  
    .cone {
      grid-area: cone;
    }
  
    .ctwo {
      grid-area: ctwo;
    }
  
    .ftwo {
      display: grid;
      grid-template-areas:
        'cthree'
        'cfour';
      height: 700px;
      align-items: center;
    }
  
    .cthree {
      grid-area: cthree;
    }
  
    .cfour {
      grid-area: cfour;
    }
  }

  .foot {
    font-family: var(--font-family);
  }

  @media only screen and (max-width: 425px) {
    .up {
        height: 1500px;
        background-color: #ffba10;
        margin-bottom: 3rem;
    }

    .family {
        height: 1500px;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .sp {
        height: 1500px;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
  }